:root {
	color-scheme: light dark;
	--body-bg: light-dark(#CCC, #222);
	--body-fg: light-dark(#000, #FFF);
	--accent-color: light-dark(rebeccapurple, rebeccapurple);
	--link-color: var(--accent-color);
	--link-hover: light-dark(#e23ed7, #e23ed7);
	--border: light-dark(#000, #000);
}

@font-face {
	font-family: 'BPdotsBold';
	src: url('header_font/BPdotsBold-webfont.eot');
	src: url('header_font/BPdotsBold-webfont.eot?#iefix') format('embedded-opentype'), url('header_font/BPdotsBold-webfont.woff') format('woff'), url('header_font/BPdotsBold-webfont.ttf') format('truetype'), url('header_font/BPdotsBold-webfont.svg#BPdotsBold') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'ProFontWindowsRegular';
	src: url('body_font/ProFontWindows-webfont.eot');
	src: url('body_font/ProFontWindows-webfont.eot?#iefix') format('embedded-opentype'), url('body_font/ProFontWindows-webfont.woff') format('woff'), url('body_font/ProFontWindows-webfont.ttf') format('truetype'), url('body_font/ProFontWindows-webfont.svg#ProFontWindowsRegular') format('svg');
	font-weight: normal;
	font-style: normal;
}

.dark {
	color-scheme: dark;
}

.light {
	color-scheme: light;
}

.light .hidden-lightmode {
	display: none;
}

.light .hidden-darkmode {
	display: inline;
}

.dark .hidden-lightmode {
	display: inline;
}

.dark .hidden-darkmode {
	display: none;
}

body {
	margin: 0;
	padding: 0;
	background-color: var(--body-bg);
	filter: brightness(1.2);
	color: var(--body-fg);
	background-repeat: repeat-x;
	font-family: ProFontWindowsRegular;
	font-size: 1em;
}

a {
	color: var(--link-color);
}

a:hover {
	color: var(--link-hover);
}

a:visited {
	color: var(--link-color);
}

h1 {
	margin: 0;
	font-size: 24pt;
}

p {
	margin-top: 0;
	margin-bottom: 1em;
}

#skiplink {
	position: absolute;
	top: -1000px;
	left: 0;
	width: 100%;
	text-align: center;
}

#skiplink:focus {
	top: 0;
}

#nav {
	background-color: var(--body-bg);
	border-color: var(--border);
	border-style: solid;
	border-width: 0 2px 2px 2px;
	border-radius: 0px 0px 5px 5px;
	width: auto;
	margin: 1em;
	margin-top: -1px;
	text-shadow: 1px 1px 1px var(--border);
	text-align: center;
	padding-bottom: 0.5em;
}

#nav ul {
	width: 140px;
	margin: auto;
	padding: 0;
}

#nav ul li {
	margin: 0;
	padding: 0;
	display: inline-table;
}

#nav ul li a {
	font-size: 18pt;
}

#nav ul ul {
	display: none;
	position: absolute;
	background-color: white;
	box-shadow: 0px 2px 12px var(--border);
	padding: 0.2em;
}

#nav ul ul li {
	display: list-item;
	text-align: left;
}

li:hover {
	background-color: transparent;
}

#container {
	background-color: var(--body-bg);
	border: 2px solid var(--border);
	border-radius: 5px;
	width: auto;
	margin: 1em;
	padding: 1em;
}

#container ul {
	margin: 0.5em;
}

#container ul li {
	margin-left: 1.5em;
	list-style: square;
}

#header {
	border: 2px solid var(--border);
	background-color: var(--body-bg);
	background: linear-gradient(var(--accent-color), var(--body-bg));
	border-width: 2px 2px 0px 2px;
	border-radius: 5px 5px 0px 0px;
	width: auto;
	margin: 1em;
	margin-bottom: 0;
	padding: 1em;
	text-shadow: 3px 3px 3px var(--border);
	text-align: center;
	font-family: BPdotsBold;
}

#header p {
	margin: 0;
	color: #FFF;
	font-size: 32pt;
	font-weight: bold;
	line-height: 1.5em;
	padding-bottom: 0.5em;
}

#footer {
	width: auto;
	padding: 0.5em;
	text-align: center;
	font-family: BPdotsBold;
	margin-top: -1em;
}

#footer a {
	color: var(--link-color);
	text-shadow: 1px 1px 1px var(--border);
	text-decoration: none;
}

#footer a:hover {
	color: var(--link-hover);
}

#language-selection {
	position: absolute;
	top: 2em;
	right: 3em;
}

#language-selection a {
	color: #000;
	text-shadow: 1px 1px 1px #DDD;
}

.dark #language-selection a#darkmode-toggle {
	color: #FFF;
	text-shadow: 1px 1px 1px #333;
}

#language-selection a.active {
	text-shadow: 1px 1px 1px #333;
}

#darkmode-toggle {
	position: relative;
	top: 0.1em;
	text-decoration: none;
}
