# Activate the route rewriting engine.
RewriteEngine On

# Uncomment the following lines if you want to enforce access through HTTPS
#RewriteCond %{HTTPS} off
#RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [R,L]

# Activate the authorization header if you're using PHP in CGI mode.
RewriteCond %{HTTP:Authorization} ^(.)
RewriteRule . - [e=HTTP_AUTHORIZATION:%1]

# And now our redirection control. These lines instruct the server
# that any file or directory name in a URL should redirect it
# to the index.php file.
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.+)$ index.php/$1 [QSA,L]
